# Pseudo-GNU style formatting
BasedOnStyle: GNU
IndentWidth: 4
BreakBeforeBraces: Custom

ColumnLimit: 100

AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true

BraceWrapping:
  AfterFunction: true
  AfterStruct: true
  AfterEnum: true
  AfterClass: true
  AfterUnion: true
  AfterNamespace: true
  AfterControlStatement: true
  BeforeElse: true
  SplitEmptyFunction: false